In [12]:
# import packages for later use
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [16]:
# load data
train_data = pd.read_csv('./data/train.csv')

# Encode categorical data
categorical_columns = [
    'MSSubClass',
    'MSZoning',
    'Street',
    'Alley',
    'LotShape',
    'LandContour',
    'Utilities',
    'LotConfig',
    'LandSlope',
    'Neighborhood',
    'Condition1',
    'Condition2',
    'BldgType',
    'HouseStyle',
    'OverallQual',
    'OverallCond',
    'RoofStyle',
    'RoofMatl',
    'Exterior1st',
    'Exterior2nd',
    'MasVnrType',
    'ExterQual',
    'ExterCond',
    'Foundation',
    'BsmtQual',
    'BsmtCond',
    'BsmtExposure',
    'BsmtFinType1',
    'BsmtFinType2',
    'Heating',
    'HeatingQC',
    'CentralAir',
    'Electrical',
    'KitchenQual',
    'Functional',
    'FireplaceQu',
    'GarageType',
    'GarageFinish',
    'GarageQual',
    'GarageCond',
    'PoolQC',
    'Fence',
    'MiscFeature',
    'SaleType',
    'SaleCondition'
]

for column in categorical_columns:
    encoder = LabelEncoder()
    # fill na
    new_column = train_data[column]
    new_column = new_column.fillna('None')
    # transform
    encoder.fit(new_column)
    train_data[column] = encoder.transform(new_column)

In [17]:
train_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,5,3,65.0,8450,1,1,3,3,0,...,0,3,4,1,0,2,2008,8,4,208500
1,2,0,3,80.0,9600,1,1,3,3,0,...,0,3,4,1,0,5,2007,8,4,181500
2,3,5,3,68.0,11250,1,1,0,3,0,...,0,3,4,1,0,9,2008,8,4,223500
3,4,6,3,60.0,9550,1,1,0,3,0,...,0,3,4,1,0,2,2006,8,0,140000
4,5,5,3,84.0,14260,1,1,0,3,0,...,0,3,4,1,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,5,3,62.0,7917,1,1,3,3,0,...,0,3,4,1,0,8,2007,8,4,175000
1456,1457,0,3,85.0,13175,1,1,3,3,0,...,0,3,2,1,0,2,2010,8,4,210000
1457,1458,6,3,66.0,9042,1,1,3,3,0,...,0,3,0,3,2500,5,2010,8,4,266500
1458,1459,0,3,68.0,9717,1,1,3,3,0,...,0,3,4,1,0,4,2010,8,4,142125
1459,1460,0,3,75.0,9937,1,1,3,3,0,...,0,3,4,1,0,6,2008,8,4,147500